
        <footer th:fragment="footer" class="bg-primary my-3">
            <div class="container p-4 text-light" >
                <!--Grid row-->
                <div class="row">
                    <!--Grid column-->
                    <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                            <h5 class="text-uppercase">Contact details:</h5>

                            <ul class="list-unstyled mb-0 ">
                                <li>
                                    <p>Phone: 06203420760</p>
                                </li>
                                <li>
                                    <p>Adress: Szechenyi</p>
                                </li>
                                <li>
                                    <p>E-mail: Projektmunka@gmail.com</p>
                                </li>
                                <li>
                                    <p>Made by: Dandóczi Máté, Mátyás Martina, Jakab Mátyás</p>
                                </li>
                            </ul>

                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                        <h5 class="text-uppercase">Thank You!</h5>

                        <p>
                            Thank you for visiting our site, we welcome all those who are interested!
                        </p>
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->
            </div>
        </footer>
        <!-- Footer -->