<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Timetable</title>
    <style>
            th, td{
                border: 1px solid black;
                margin: 0px;
            }
            tr{
                background-color: rgba(20, 20, 20, 0.2);
            }
            tr:hover{
                background-color: rgba(20, 20, 20, 0.1);
            }
            caption{
                background-color: rgba(20, 20, 20, 0.2);
                padding: 10px;
                margin: 5px 0 10px 0;
                font-weight: bold;
            }
            .back-auth{
                background-color: rgba(240, 0, 0, 0.2);
            }
            .back-auth:hover{
                background-color: rgba(240, 0, 0, 0.1);
            }
            a{
                color: navy;
            }
            a:hover{
                color: black;
            }
        </style>
</head>
<body>
<table cellpadding="10">
    <caption>TimeTable REST API</caption>
    <tr>
        <th>Request method</th>
        <th>Url path</th>
        <th>Web service</th>
        <th>Authorization</th>
    </tr>
    <tr>
        <td>GET</td>
        <td><a href="/students">students</a></td>
        <td>A tanulok névsora</td>
        <td>engedélyezett</td>
    </tr>
    <tr>
        <td>GET</td>
        <td><a href="/subjects">subjects</a></td>
        <td>A tantárgyak listája</td>
        <td>engedélyezett</td>
    </tr>
    <tr>
        <td>GET</td>
        <td><a href="/classrooms">classrooms</a></td>
        <td>A termek listája</td>
        <td>engedélyezett</td>
    </tr>
    <tr>
        <td>GET</td>
        <td><a href="/studentclasses">studentclasses</a></td>
        <td>Az osztályok listája</td>
        <td>engedélyezett</td>
    </tr>
    <tr>
        <td>GET</td>
        <td><a href="/teachers">teachers</a></td>
        <td>A tanérok listája</td>
        <td>engedélyezett</td>
    </tr>
    <tr>
        <td>GET</td>
        <td><a href="/teachersubjectlist/71123567012">/teachersubjectlist/{OMA_TEACHER}</a></td>
        <td>OM azonosító által kiválasztott tanár  tantárgyainak listája</td>
        <td>engedélyezett</td>
    </tr>
    <tr>
        <td>GET</td>
        <td><a href="/studentlists/2">studentlists/{CLASS_ID}</a></td>
        <td>Az adott Id-val meghatározott osztály tanulói</td>
        <td>engedélyezett</td>
    </tr>
    <tr>
        <td>GET</td>
        <td><a href="/timetablelist/71123567012/Monday">/timetablelist/{OMA_TEACHER}/{day}</a></td>
        <td>Az adott OM azonosítóval meghatározott tanár adott nap szerinti órái</td>
        <td>engedélyezett</td>
    </tr>
    <tr>
        <td>GET</td>
        <td><a href="/timetablelists/2/Monday">/timetablelists/{CLASS_ID}/{day}</a></td>
        <td>Az adott Id-val meghatározott osztály adott nap szerinti órái</td>
        <td>engedélyezett</td>
    </tr>
    <tr>
        <td>GET</td>
        <td><a href="/timetables/10">/timetablelists/{TIMETABLE_ID}</a></td>
        <td>A meghatározott Id-val rendelkező óra</td>
        <td>engedélyezett</td>
    </tr>
    <tr>
        <td>GET</td>
        <td><a href="/teachers/71123567212">teachers/{OMA_TEACHER}</a></td>
        <td>Egy OM azonosító által kiválasztott tanár adatai</td>
        <td>engedélyezett</td>
    </tr>
    <tr>
    <td>GET</td>
        <td><a href="/teachersubjectlist/71123567212">teachersubjectlist/{OMA_TEACHER}</a></td>
        <td>Egy OM azonosító által kiválasztott tanár által tanított tantárgyak</td>
        <td>engedélyezett</td>
    </tr>
    <td>GET</td>
    <td><a href="/subjects/1">subjects/{SUBJECT_ID}</a></td>
    <td>Id által kiválasztott tantárgy</td>
    <td>engedélyezett</td>
    </tr>
    <tr>
    <tr>
        <td>GET</td>
        <td><a href="/classrooms/3">classrooms/{DOORNUMBER_ID}</a></td>
        <td>Id által kiválasztott terem adatai</td>
        <td>engedélyezett</td>
    </tr>
    <tr>
        <td>GET</td>
        <td><a href="/studentclasses/3">studentclasses/{CLASS_ID}</a></td>
        <td>Id által kiválasztott osztály</td>
        <td>engedélyezett</td>
    </tr>
        <td>GET</td>
        <td><a href="/students/75957745931">students/{OMA_STUDENT}</a></td>
        <td>Om azonosító által kiválasztott diák adatai</td>
        <td>engedélyezett</td>
    </tr>


    <tr class="back-auth">
        <td>POST</td>
        <td>teachers</td>
        <td>Új tanár hozzáadása</td>
        <td>jelszóval védendő</td>
    </tr>
    <tr class="back-auth">
        <td>PATCH</td>
        <td>teachers/{OMA_TEACHER}</td>
        <td>Tanár módosítása</td>
        <td>jelszóval védendő</td>
    </tr>
    <tr class="back-auth">
        <td>DELETE</td>
        <td>teachers/{OMA_TEACHER}</td>
        <td>Kiválasztott Tanár törlése</td>
        <td>jelszóval védendő</td>
    </tr>

    <tr class="back-auth">
        <td>POST</td>
        <td>students</td>
        <td>Új tanulók hozzáadása</td>
        <td>jelszóval védendő</td>
    </tr>
    <tr class="back-auth">
        <td>PATCH</td>
        <td>students/{OMA_STUDENT}</td>
        <td>Tanuló módosítása</td>
        <td>jelszóval védendő</td>
    </tr>
    <tr class="back-auth">
        <td>DELETE</td>
        <td>students/{OMA_STUDENT}</td>
        <td>Kiválasztott Tanuló törlése</td>
        <td>jelszóval védendő</td>
    </tr>

    <tr class="back-auth">
        <td>POST</td>
        <td>classrooms</td>
        <td>Új terem felvétele</td>
        <td>jelszóval védendő</td>
    </tr>
    <tr class="back-auth">
        <td>PATCH</td>
        <td>classrooms/{DOORNUMBER_ID}</td>
        <td>Terem módosítása</td>
        <td>jelszóval védendő</td>
    </tr>
    <tr class="back-auth">
        <td>DELETE</td>
        <td>classrooms/{DOORNUMBER_ID}</td>
        <td>Kiválasztott terem törlése</td>
        <td>jelszóval védendő</td>
    </tr>

    <tr class="back-auth">
        <td>POST</td>
        <td>studentclasses</td>
        <td>Új osztály felvétele</td>
        <td>jelszóval védendő</td>
    </tr>
    <tr class="back-auth">
        <td>PATCH</td>
        <td>studentclasses/{CLASS_ID}</td>
        <td>Osztály módosítása</td>
        <td>jelszóval védendő</td>
    </tr>
    <tr class="back-auth">
        <td>DELETE</td>
        <td>studentclasses/{CLASS_ID}</td>
        <td>Kiválasztott osztály törlése</td>
        <td>jelszóval védendő</td>
    </tr>

    <tr class="back-auth">
        <td>POST</td>
        <td>subjects</td>
        <td>Új tantárgyak felvétele</td>
        <td>jelszóval védendő</td>
    </tr>
    <tr class="back-auth">
        <td>PATCH</td>
        <td>subjects/{SUBJECT_ID}</td>
        <td>Tantárgyak módosítása</td>
        <td>jelszóval védendő</td>
    </tr>
    <tr class="back-auth">
        <td>DELETE</td>
        <td>subjects/{SUBJECT_ID}</td>
        <td>Kiválasztott tantárgy törlése</td>
        <td>jelszóval védendő</td>
    </tr>

    <tr class="back-auth">
        <td>POST</td>
        <td>timetables</td>
        <td>Új órarend felvétele</td>
        <td>jelszóval védendő</td>
    </tr>
    <tr class="back-auth">
        <td>PATCH</td>
        <td>timetables/{TIMETABLE_ID}</td>
        <td>Órarend módosítása</td>
        <td>jelszóval védendő</td>
    </tr>
    <tr class="back-auth">
        <td>DELETE</td>
        <td>timetables/{TIMETABLE_ID}</td>
        <td>Kiválasztott órarend törlése</td>
        <td>jelszóval védendő</td>
    </tr>
</table>
</body>
</html>